<html>

<head>
<title>SEACAR Water Quality Reports - Directory</title>
<!--begin.rcode navbar, echo=F
htmltools::includeHTML("https://floridaseacar.github.io/navbar.html")
end.rcode-->
</head>

<body>

<div style="margin:20px;">

<h3>Water Quality Reports</h3>

<p>Water quality reports are available in PDF and HTML format. The GitHub Repository is located <a href="https://github.com/FloridaSEACAR/SEACAR_Trend_Analyses/tree/main/WQ_Cont_Discrete", target="_blank">here</a>.</p>

<!--begin.rcode echo=F
# Find match function
find_exact_matches <- function(pattern, filenames) {
  regex <- paste0("(_|^)", pattern, "(_|$)")
  matched_files <- str_subset(filenames, regex)
  return(matched_files)
}

MA_All <- SEACAR::ManagedAreas
MA_All <- MA_All[!MA_All$AreaID==7] %>% arrange(ManagedAreaName) %>% as.data.table()
end.rcode-->

<div style="padding:20px; border-radius:15px; background:#F2F2F2;">
<!--begin.rcode include=TRUE, echo=FALSE, results='asis'
# Returns a markdown-format hyperlink, target=_blank to open link in new window
make_link <- function(text, link){return(paste0('<a href="', link, '" target="_blank">',text,'</a>'))}

pdf_files <- list.files("output/Reports/", pattern=".pdf")
html_files <- list.files("output/Reports/", pattern=".html")

links_table <- data.frame()

for(ma in MA_All$ManagedAreaName){
  ma_abrev <- MA_All[ManagedAreaName==ma, Abbreviation]
  if(ma == "St. Joseph Bay State Buffer Preserve"){next}
  
  pdf_file <- find_exact_matches(ma_abrev, pdf_files)
  html_file <- find_exact_matches(ma_abrev, html_files)
  
  pdf_github_loc <- "https://floridaseacar.github.io/SEACAR_Trend_Analyses/WQ_Cont_Discrete/output/Reports/"
  pdf_link <- paste0(pdf_github_loc, pdf_file)
  
  html_github_loc <- "https://floridaseacar.github.io/SEACAR_Trend_Analyses/WQ_Cont_Discrete/output/Reports/"
  html_link <- paste0(html_github_loc, html_file)
  
  if(length(pdf_file)==0){pdf_file <- ""}
  if(length(html_file)==0){html_file <- ""}
  
  link_table <- data.frame("Managed Area" = ma,
                           "PDF" = make_link(pdf_file, pdf_link),
                           "HTML" = make_link(html_file, html_link))
  
  links_table <- bind_rows(links_table, link_table)
}

print(
  kable(links_table, format="html", table.attr = 'class="table table-striped"', escape=FALSE)
)

end.rcode -->
</div>

<hr>
<div class="funding_text">
<!--begin.rcode funding, echo=F, warning=F
htmltools::includeHTML("https://floridaseacar.github.io/funding.html")
end.rcode-->  
  <p class="publish_date">Published: <!--rinline Sys.Date() --></p>
</div>

</div>

</body>
</html>
