USE [seacar_atlas]
GO
/****** Object:  StoredProcedure [dbo].[usp_analysis_trends_python_update]    Script Date: 9/8/2023 10:03:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[usp_analysis_trends_python_update]
AS
BEGIN
	SET NOCOUNT ON;

    -- EXECUTE usp_analysis_trends_python_update;


	DECLARE @htmlTimestamp varchar(300) = CONCAT('<small class="float-right mr-3" style="color:#ccd">', FORMAT(GETDATE(), 'M.d.yy'), '</small>');
	DECLARE @addTimestamp bit = 0;
	DECLARE @ts varchar(300) = CASE @addTimestamp WHEN 1 THEN @htmlTimestamp END;


	IF OBJECT_ID('tempdb..#Table1') IS NOT NULL
	DROP TABLE #Table1;


	-- The following is "Excel to SQL" formatted results from SEACAR_IndicatorSummaries_YYYYMMDD.xlsx
	SELECT      *
	INTO        #Table1
	FROM        (VALUES
	  ('7', 'Water Column', '6', 'Nutrients', '1', 'Alligator Harbor Aquatic Preserve', 'Over the past 23 years, nutrient monitoring in Alligator Harbor has shown no significant change in total nitrogen and an increase in total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '2', 'Apalachicola Bay Aquatic Preserve', 'Over the past 32 years, nutrient monitoring in Apalachicola Bay has shown no significant change in total nitrogen and a decrease in total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '3', 'Apalachicola National Estuarine Research Reserve', 'Over the past 32 years, nutrient monitoring in Apalachicola NERR has shown an increase in total nitrogen and a decrease in total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '4', 'Banana River Aquatic Preserve', 'Over the past 27 years, nutrient monitoring in Banana River has shown a decrease in total nitrogen and an increase in total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '5', 'Big Bend Seagrasses Aquatic Preserve', 'Over the past 34 years, nutrient monitoring in Big Bend Seagrasses has shown an increase in both total nitrogen and total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '6', 'Biscayne Bay Aquatic Preserve', 'Over the past 54 years, nutrient monitoring in Biscayne Bay has shown an increase in both total nitrogen and total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '7', 'Biscayne Bay-Cape Florida to Monroe County Line Aquatic Preserve', 'Data for nutrients is needed for Biscayne Bay-Cape Florida to Monroe County Line.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '8', 'Boca Ciega Bay Aquatic Preserve', 'Over the past 25 years, nutrient monitoring in Boca Ciega Bay has shown an increase in total nitrogen and no significant change in total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '9', 'Cape Haze Aquatic Preserve', 'Over the past 26 years, nutrient monitoring in Cape Haze has shown an increase in both total nitrogen and total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '10', 'Cape Romano-Ten Thousand Islands Aquatic Preserve', 'Over the past 35 years, nutrient monitoring in Cape Romano-Ten Thousand Islands has shown no significant change in either total nitrogen and total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '11', 'Cockroach Bay Aquatic Preserve', 'Over the past 25 years, nutrient monitoring in Cockroach Bay has shown no significant change in total nitrogen and an increase in total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '12', 'Southeast Florida Coral Reef Ecosystem Conservation Area', 'Over the past 15 years, nutrient monitoring in Coral ECA has shown a decrease in total phosphorus concentrations. Insufficient data was available to assess long-term trends for total nitrogen in Coral ECA.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '13', 'Coupon Bight Aquatic Preserve', 'Over the past 29 years, nutrient monitoring in Coupon Bight has shown an increase in both total nitrogen and total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '14', 'Estero Bay Aquatic Preserve', 'Over the past 33 years, nutrient monitoring in Estero Bay has shown an increase in total nitrogen and no significant change in total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '15', 'Florida Keys National Marine Sanctuary', 'Over the past 54 years, nutrient monitoring in Florida Keys NMS has shown a decrease in both total nitrogen and total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '16', 'Fort Clinch State Park Aquatic Preserve', 'Over the past 24 years, nutrient monitoring in Fort Clinch has shown no significant change in either total nitrogen and total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '17', 'Fort Pickens State Park Aquatic Preserve', 'Over the past 25 years, nutrient monitoring in Fort Pickens has shown a decrease in total nitrogen and no significant change in total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '18', 'Gasparilla Sound-Charlotte Harbor Aquatic Preserve', 'Over the past 31 years, nutrient monitoring in Gasparilla Sound-Charlotte Harbor has shown an increase in both total nitrogen and total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '19', 'Guana River Marsh Aquatic Preserve', 'Over the past 27 years, nutrient monitoring in Guana River Marsh has shown an increase in total nitrogen and a decrease in total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '20', 'Guana Tolomato Matanzas National Estuarine Research Reserve', 'Over the past 27 years, nutrient monitoring in Guana Tolomato Matanzas NERR has shown an increase in total nitrogen and a decrease in total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '21', 'Indian River-Malabar to Vero Beach Aquatic Preserve', 'Over the past 27 years, nutrient monitoring in Indian River-Malabar to Vero Beach has shown a decrease in total nitrogen and no significant change in total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '22', 'Indian River-Vero Beach to Ft. Pierce Aquatic Preserve', 'Over the past 27 years, nutrient monitoring in Indian River-Vero Beach to Ft. Pierce has shown a decrease in total nitrogen and no significant change in total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '23', 'Jensen Beach to Jupiter Inlet Aquatic Preserve', 'Over the past 33 years, nutrient monitoring in Jensen Beach to Jupiter Inlet has shown no significant change in total nitrogen and a decrease in total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '25', 'Lemon Bay Aquatic Preserve', 'Over the past 29 years, nutrient monitoring in Lemon Bay has shown no significant change in total nitrogen and a decrease in total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '26', 'Lignumvitae Key Aquatic Preserve', 'Insufficient data was available to assess long-term trends for nutrients in Lignumvitae Key.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '27', 'Loxahatchee River-Lake Worth Creek Aquatic Preserve', 'Over the past 33 years, nutrient monitoring in Loxahatchee River-Lake Worth Creek has shown a decrease in total nitrogen and no significant change in total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '28', 'Matlacha Pass Aquatic Preserve', 'Over the past 28 years, nutrient monitoring in Matlacha Pass has shown an increase in both total nitrogen and total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '29', 'Mosquito Lagoon Aquatic Preserve', 'Over the past 33 years, nutrient monitoring in Mosquito Lagoon has shown a decrease in total nitrogen and an increase in total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '30', 'Nassau River-St. Johns River Marshes Aquatic Preserve', 'Over the past 41 years, nutrient monitoring in Nassau River-St. Johns River Marshes has shown no significant change in total nitrogen and a decrease in total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '31', 'North Fork St. Lucie Aquatic Preserve', 'Over the past 25 years, nutrient monitoring in North Fork St. Lucie has shown no significant change in total nitrogen and a decrease in total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '33', 'Pellicer Creek Aquatic Preserve', 'Over the past 22 years, nutrient monitoring in Pellicer Creek has shown an increase in total nitrogen and no significant change in total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '34', 'Pine Island Sound Aquatic Preserve', 'Over the past 29 years, nutrient monitoring in Pine Island Sound has shown an increase in total nitrogen and no significant change in total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '35', 'Pinellas County Aquatic Preserve', 'Over the past 25 years, nutrient monitoring in Pinellas County has shown a decrease in total nitrogen and no significant change in total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '37', 'Rocky Bayou State Park Aquatic Preserve', 'Over the past 23 years, nutrient monitoring in Rocky Bayou has shown an increase in both total nitrogen and total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '38', 'Rookery Bay Aquatic Preserve', 'Over the past 35 years, nutrient monitoring in Rookery Bay has shown an increase in total nitrogen and no significant change in total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '39', 'Rookery Bay National Estuarine Research Reserve', 'Over the past 35 years, nutrient monitoring in Rookery Bay NERR has shown no significant change in either total nitrogen and total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '40', 'St. Andrews State Park Aquatic Preserve', 'Over the past 34 years, nutrient monitoring in St. Andrews has shown an increase in both total nitrogen and total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '41', 'St. Joseph Bay Aquatic Preserve', 'Over the past 23 years, nutrient monitoring in St. Joseph Bay has shown an increase in both total nitrogen and total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '43', 'St. Martins Marsh Aquatic Preserve', 'Over the past 28 years, nutrient monitoring in St. Martins Marsh has shown an increase in both total nitrogen and total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '44', 'Terra Ceia Aquatic Preserve', 'Over the past 29 years, nutrient monitoring in Terra Ceia has shown a decrease in both total nitrogen and total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '45', 'Tomoka Marsh Aquatic Preserve', 'Over the past 27 years, nutrient monitoring in Tomoka Marsh has shown a decrease in total nitrogen and no significant change in total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '47', 'Yellow River Marsh Aquatic Preserve', 'Over the past 23 years, nutrient monitoring in Yellow River Marsh has shown an increase in both total nitrogen and total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '6', 'Nutrients', '48', 'Nature Coast Aquatic Preserve', 'Over the past 28 years, nutrient monitoring in Nature Coast has shown no significant change in either total nitrogen and total phosphorus concentrations.', '', 'WC-NUT-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '1', 'Alligator Harbor Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has shown no significant change between 1998 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '2', 'Apalachicola Bay Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has shown no significant change between 1992 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '3', 'Apalachicola National Estuarine Research Reserve', 'Based on Secchi disk measurements, water clarity within the estuary has shown no significant change between 1992 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '4', 'Banana River Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has shown no significant change between 1991 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '5', 'Big Bend Seagrasses Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has increased between 1991 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '6', 'Biscayne Bay Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has shown no significant change between 2000 and 2022.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '7', 'Biscayne Bay-Cape Florida to Monroe County Line Aquatic Preserve', 'Data for water clarity is needed for Biscayne Bay-Cape Florida to Monroe County Line.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '8', 'Boca Ciega Bay Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has increased between 1994 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '9', 'Cape Haze Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has increased between 1994 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '10', 'Cape Romano-Ten Thousand Islands Aquatic Preserve', 'Insufficient Secchi disk data was available to assess long-term trends for water clarity in Cape Romano-Ten Thousand Islands. Ten years of data are required to assess long-term trends for water clarity. Cape Romano-Ten Thousand Islands only has 6 years of data as of 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '11', 'Cockroach Bay Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has increased between 1995 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '12', 'Southeast Florida Coral Reef Ecosystem Conservation Area', 'Based on Secchi disk measurements, water clarity within the estuary has increased between 1997 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '13', 'Coupon Bight Aquatic Preserve', 'Insufficient Secchi disk data was available to assess long-term trends for water clarity in Coupon Bight. Ten years of data are required to assess long-term trends for water clarity. Coupon Bight only has 1 years of data as of 2000.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '14', 'Estero Bay Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has increased between 2001 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '15', 'Florida Keys National Marine Sanctuary', 'Based on Secchi disk measurements, water clarity within the estuary has shown no significant change between 1993 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '16', 'Fort Clinch State Park Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has shown no significant change between 2000 and 2017.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '17', 'Fort Pickens State Park Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has shown no significant change between 1987 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '18', 'Gasparilla Sound-Charlotte Harbor Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has shown no significant change between 1994 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '19', 'Guana River Marsh Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has shown no significant change between 1999 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '20', 'Guana Tolomato Matanzas National Estuarine Research Reserve', 'Based on Secchi disk measurements, water clarity within the estuary has decreased between 1999 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '21', 'Indian River-Malabar to Vero Beach Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has increased between 1991 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '22', 'Indian River-Vero Beach to Ft. Pierce Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has shown no significant change between 1992 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '23', 'Jensen Beach to Jupiter Inlet Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has shown no significant change between 1993 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '25', 'Lemon Bay Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has increased between 1995 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '26', 'Lignumvitae Key Aquatic Preserve', 'Insufficient Secchi disk data was available to assess long-term trends for water clarity in Lignumvitae Key. Ten years of data are required to assess long-term trends for water clarity. Lignumvitae Key only has 6 years of data as of 2017.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '27', 'Loxahatchee River-Lake Worth Creek Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has increased between 1994 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '28', 'Matlacha Pass Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has increased between 1994 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '29', 'Mosquito Lagoon Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has increased between 2006 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '30', 'Nassau River-St. Johns River Marshes Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has decreased between 1982 and 2024.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '31', 'North Fork St. Lucie Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has shown no significant change between 1996 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '33', 'Pellicer Creek Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has shown no significant change between 2002 and 2022.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '34', 'Pine Island Sound Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has increased between 1994 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '35', 'Pinellas County Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has increased between 1994 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '37', 'Rocky Bayou State Park Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has decreased between 1995 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '38', 'Rookery Bay Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has shown no significant change between 1998 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '39', 'Rookery Bay National Estuarine Research Reserve', 'Based on Secchi disk measurements, water clarity within the estuary has decreased between 1998 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '40', 'St. Andrews State Park Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has decreased between 1991 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '41', 'St. Joseph Bay Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has increased between 1991 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '43', 'St. Martins Marsh Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has shown no significant change between 1991 and 2022.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '44', 'Terra Ceia Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has increased between 1995 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '45', 'Tomoka Marsh Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has shown no significant change between 2000 and 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '47', 'Yellow River Marsh Aquatic Preserve', 'Insufficient Secchi disk data was available to assess long-term trends for water clarity in Yellow River Marsh. Ten years of data are required to assess long-term trends for water clarity. Yellow River Marsh only has 9 years of data as of 2023.', '', 'WC-WC-1')
	, ('7', 'Water Column', '8', 'Water Clarity', '48', 'Nature Coast Aquatic Preserve', 'Based on Secchi disk measurements, water clarity within the estuary has shown no significant change between 1991 and 2022.', '', 'WC-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '1', 'Alligator Harbor Aquatic Preserve', 'Between 2009 and 2022, 4 species of seagrass were reported and 3 showed no significant change in cover and 1 showed a decrease in cover.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '2', 'Apalachicola Bay Aquatic Preserve', 'Within Apalachicola Bay all modeled seagrass species have shown no significant change between 2008 and 2021.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '3', 'Apalachicola National Estuarine Research Reserve', 'Between 2003 and 2021, 2 species of seagrass were reported and 1 showed no significant change in cover and 1 showed a decrease in cover.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '4', 'Banana River Aquatic Preserve', 'Between 1994 and 2023 data from monitoring efforts show a decrease in the estimated median percent cover of submerged aquatic vegetation within Banana River.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '5', 'Big Bend Seagrasses Aquatic Preserve', 'Between 2000 and 2023, 6 species of seagrass were reported and 1 showed an increase in cover and 2 showed no significant change in cover and 3 showed a decrease in cover.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '6', 'Biscayne Bay Aquatic Preserve', 'Between 2005 and 2022 data from monitoring efforts show an increase in the estimated median percent cover of seagrasses within Biscayne Bay.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '7', 'Biscayne Bay-Cape Florida to Monroe County Line Aquatic Preserve', 'Data for percent cover is needed for Biscayne Bay-Cape Florida to Monroe County Line.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '8', 'Boca Ciega Bay Aquatic Preserve', 'Within Boca Ciega Bay all modeled seagrass species have shown no significant change between 1998 and 2022.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '9', 'Cape Haze Aquatic Preserve', 'Between 1998 and 2022 data from monitoring efforts show no significant change in the estimated median percent cover of seagrasses within Cape Haze.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '10', 'Cape Romano-Ten Thousand Islands Aquatic Preserve', 'Data for percent cover is needed for Cape Romano-Ten Thousand Islands.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '11', 'Cockroach Bay Aquatic Preserve', 'Within Cockroach Bay all modeled seagrass species have shown no significant change between 2000 and 2022.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '12', 'Southeast Florida Coral Reef Ecosystem Conservation Area', 'Data for percent cover is needed for Coral ECA.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '13', 'Coupon Bight Aquatic Preserve', 'Data for percent cover is needed for Coupon Bight.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '14', 'Estero Bay Aquatic Preserve', 'Between 2006 and 2022 data from monitoring efforts show a decrease in the estimated median percent cover of seagrasses within Estero Bay.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '15', 'Florida Keys National Marine Sanctuary', 'Between 2005 and 2023 data from monitoring efforts show an increase in the estimated median percent cover of seagrasses within Florida Keys NMS.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '16', 'Fort Clinch State Park Aquatic Preserve', 'Data for percent cover is needed for Fort Clinch.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '17', 'Fort Pickens State Park Aquatic Preserve', 'Between 2016 and 2023 data from monitoring efforts show no significant change in the estimated median percent cover of seagrasses within Fort Pickens.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '18', 'Gasparilla Sound-Charlotte Harbor Aquatic Preserve', 'Between 1998 and 2022 data from monitoring efforts show no significant change in the estimated median percent cover of seagrasses within Gasparilla Sound-Charlotte Harbor.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '19', 'Guana River Marsh Aquatic Preserve', 'Data for percent cover is needed for Guana River Marsh.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '20', 'Guana Tolomato Matanzas National Estuarine Research Reserve', 'Data for percent cover is needed for Guana Tolomato Matanzas NERR.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '21', 'Indian River-Malabar to Vero Beach Aquatic Preserve', 'Between 1994 and 2023 data from monitoring efforts show a decrease in the estimated median percent cover of submerged aquatic vegetation within Indian River-Malabar to Vero Beach.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '22', 'Indian River-Vero Beach to Ft. Pierce Aquatic Preserve', 'Between 1994 and 2023 data from monitoring efforts show a decrease in the estimated median percent cover of submerged aquatic vegetation within Indian River-Vero Beach to Ft. Pierce.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '23', 'Jensen Beach to Jupiter Inlet Aquatic Preserve', 'Between 1994 and 2023 data from monitoring efforts show a decrease in the estimated median percent cover of submerged aquatic vegetation within Jensen Beach to Jupiter Inlet.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '25', 'Lemon Bay Aquatic Preserve', 'Between 1998 and 2022 data from monitoring efforts show no significant change in the estimated median percent cover of seagrasses within Lemon Bay.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '26', 'Lignumvitae Key Aquatic Preserve', 'Data for percent cover is needed for Lignumvitae Key.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '27', 'Loxahatchee River-Lake Worth Creek Aquatic Preserve', 'Between 1999 and 2023 data from monitoring efforts show a decrease in the estimated median percent cover of submerged aquatic vegetation within Loxahatchee River-Lake Worth Creek.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '28', 'Matlacha Pass Aquatic Preserve', 'Between 2004 and 2022 data from monitoring efforts show no significant change in the estimated median percent cover of seagrasses within Matlacha Pass.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '29', 'Mosquito Lagoon Aquatic Preserve', 'Between 2009 and 2023 data from monitoring efforts show a decrease in the estimated median percent cover of submerged aquatic vegetation within Mosquito Lagoon.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '30', 'Nassau River-St. Johns River Marshes Aquatic Preserve', 'Data for percent cover is needed for Nassau River-St. Johns River Marshes.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '31', 'North Fork St. Lucie Aquatic Preserve', 'Data for percent cover is needed for North Fork St. Lucie.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '33', 'Pellicer Creek Aquatic Preserve', 'Data for percent cover is needed for Pellicer Creek.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '34', 'Pine Island Sound Aquatic Preserve', 'Between 1998 and 2022 data from monitoring efforts show no significant change in the estimated median percent cover of seagrasses within Pine Island Sound.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '35', 'Pinellas County Aquatic Preserve', 'Between 2011 and 2019 data from monitoring efforts show no significant change in the estimated median percent cover of submerged aquatic vegetation within Pinellas County.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '37', 'Rocky Bayou State Park Aquatic Preserve', 'Data for percent cover is needed for Rocky Bayou.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '38', 'Rookery Bay Aquatic Preserve', 'Between 1998 and 2005 data from monitoring efforts show a decrease in the estimated median percent cover of seagrasses within Rookery Bay.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '39', 'Rookery Bay National Estuarine Research Reserve', 'Between 1998 and 2005 data from monitoring efforts show a decrease in the estimated median percent cover of seagrasses within Rookery Bay NERR.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '40', 'St. Andrews State Park Aquatic Preserve', 'Between 2000 and 2007 data from monitoring efforts show no significant change in the estimated median percent cover of seagrasses within St. Andrews.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '41', 'St. Joseph Bay Aquatic Preserve', 'Within St. Joseph Bay all modeled seagrass species have shown no significant change between 2005 and 2022.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '43', 'St. Martins Marsh Aquatic Preserve', 'Within St. Martins Marsh all modeled seagrass species have shown no significant change between 1997 and 2023.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '44', 'Terra Ceia Aquatic Preserve', 'Between 1999 and 2022, 3 species of seagrass were reported and 1 showed an increase in cover and 2 showed no significant change in cover.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '45', 'Tomoka Marsh Aquatic Preserve', 'Data for percent cover is needed for Tomoka Marsh.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '47', 'Yellow River Marsh Aquatic Preserve', 'Data for percent cover is needed for Yellow River Marsh.', '', 'SAV-PC-1')
	, ('6', 'Submerged Aquatic Vegetation', '1', 'Percent Cover (by species)', '48', 'Nature Coast Aquatic Preserve', 'Between 1997 and 2023, 5 species of seagrass were reported and 4 showed no significant change in cover and 1 showed a decrease in cover.', '', 'SAV-PC-1')
	, ('7', 'Water Column', '7', 'Water Quality', '1', 'Alligator Harbor Aquatic Preserve', 'Since 1998, dissolved oxygen (DO) concentrations, from discrete monitoring, have decreased.', '', 'WC-WQ-1')
	, ('7', 'Water Column', '7', 'Water Quality', '1', 'Alligator Harbor Aquatic Preserve', 'Long-term discrete data shows water temperature has shown no significant change, salinity has decreased, dissolved oxygen has decreased, and pH has decreased in Alligator Harbor.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '2', 'Apalachicola Bay Aquatic Preserve', 'Since 1992, dissolved oxygen (DO) concentrations, from discrete monitoring, have decreased.', '', 'WC-WQ-1')
	, ('7', 'Water Column', '7', 'Water Quality', '2', 'Apalachicola Bay Aquatic Preserve', 'Long-term discrete data shows water temperature has shown no significant change, salinity has shown no significant change, dissolved oxygen has decreased, and pH has decreased in Apalachicola Bay.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '2', 'Apalachicola Bay Aquatic Preserve', 'Dataloggers are deployed at 5 sites within Apalachicola Bay and collect near-continuous data on multiple parameters. Station APALMWQ data has shown an increase in salinity levels between 2017 and 2024. Station APAPCWQ data has shown no significant change in salinity levels between 2017 and 2024. Station APAESWQ data has shown no significant change in salinity levels between 1995 and 2024. Station APAEBWQ data has shown no significant change in salinity levels between 1995 and 2024. Station APADBWQ data has shown no significant change in salinity levels between 2002 and 2024.', '', 'WC-WQ-3')
	, ('7', 'Water Column', '7', 'Water Quality', '3', 'Apalachicola National Estuarine Research Reserve', 'Since 1992, dissolved oxygen (DO) concentrations, from discrete monitoring, have decreased. DO concentrations are influenced by multiple indicators that affect water''s capacity to hold oxygen. For instance, increased nitrogen levels can decrease DO concentrations.', '', 'WC-WQ-1')
	, ('7', 'Water Column', '7', 'Water Quality', '3', 'Apalachicola National Estuarine Research Reserve', 'Long-term discrete data shows water temperature has shown no significant change, salinity has decreased, dissolved oxygen has decreased, and pH has decreased in Apalachicola NERR.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '3', 'Apalachicola National Estuarine Research Reserve', 'Dataloggers are deployed at 7 sites within Apalachicola NERR and collect near-continuous data on multiple parameters. Station APALMWQ data has shown an increase in salinity levels between 2017 and 2024. Station APABPWQ data has shown an increase in salinity levels between 2020 and 2024. Station APAPCWQ data has shown no significant change in salinity levels between 2017 and 2024. Station APAESWQ data has shown no significant change in salinity levels between 1995 and 2024. Station APAEBWQ data has shown no significant change in salinity levels between 1995 and 2024. Station APACPWQ data has shown no significant change in salinity levels between 2002 and 2024. Station APADBWQ data has shown no significant change in salinity levels between 2002 and 2024.', '', 'WC-WQ-3')
	, ('7', 'Water Column', '7', 'Water Quality', '4', 'Banana River Aquatic Preserve', 'Since 1990, dissolved oxygen (DO) concentrations, from discrete monitoring, have decreased.', '', 'WC-WQ-1')
	, ('7', 'Water Column', '7', 'Water Quality', '4', 'Banana River Aquatic Preserve', 'Long-term discrete data shows water temperature has increased, salinity has increased, dissolved oxygen has decreased, and pH has decreased in Banana River.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '4', 'Banana River Aquatic Preserve', 'Dataloggers are deployed at 1 site within Banana River and collect near-continuous data on multiple parameters. Station IRLB04 data has shown a decrease in salinity levels between 2017 and 2024.', '', 'WC-WQ-3')
	, ('7', 'Water Column', '7', 'Water Quality', '5', 'Big Bend Seagrasses Aquatic Preserve', 'Since 1985, dissolved oxygen (DO) concentrations, from discrete monitoring, have decreased. DO concentrations are influenced by multiple indicators that affect water''s capacity to hold oxygen. For instance, increased nitrogen levels can decrease DO concentrations.', '', 'WC-WQ-1')
	, ('7', 'Water Column', '7', 'Water Quality', '5', 'Big Bend Seagrasses Aquatic Preserve', 'Long-term discrete data shows water temperature has increased, salinity has decreased, dissolved oxygen has decreased, and pH has decreased in Big Bend Seagrasses.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '5', 'Big Bend Seagrasses Aquatic Preserve', 'Dataloggers are deployed at 4 sites within Big Bend Seagrasses and collect near-continuous data on multiple parameters. Station BBSST data has shown no significant change in salinity levels between 2019 and 2023. Station BBSDB data has shown a decrease in salinity levels between 2007 and 2016. Station BBSSK data has shown a decrease in salinity levels between 2004 and 2015. Station BBSSW data has shown a decrease in salinity levels between 2009 and 2016.', '', 'WC-WQ-3')
	, ('7', 'Water Column', '7', 'Water Quality', '6', 'Biscayne Bay Aquatic Preserve', 'Since 1970, dissolved oxygen (DO) concentrations, from discrete monitoring, have decreased. DO concentrations are influenced by multiple indicators that affect water''s capacity to hold oxygen. For instance, increased nitrogen levels can decrease DO concentrations.', '', 'WC-WQ-1')
	, ('7', 'Water Column', '7', 'Water Quality', '6', 'Biscayne Bay Aquatic Preserve', 'Long-term discrete data shows water temperature has increased, salinity has decreased, dissolved oxygen has decreased, and pH has decreased in Biscayne Bay.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '6', 'Biscayne Bay Aquatic Preserve', 'Dataloggers are deployed at 3 sites within Biscayne Bay and collect near-continuous data on multiple parameters. All station data has shown no significant change in salinity levels between 2019 and 2023.', '', 'WC-WQ-3')
	, ('7', 'Water Column', '7', 'Water Quality', '7', 'Biscayne Bay-Cape Florida to Monroe County Line Aquatic Preserve', 'Insufficient data was available to assess long-term trends for all discrete water quality parameters in Biscayne Bay-Cape Florida to Monroe County Line.', '', 'WC-WQ-0')
	, ('7', 'Water Column', '7', 'Water Quality', '8', 'Boca Ciega Bay Aquatic Preserve', 'Long-term discrete data shows water temperature has increased, salinity has shown no significant change, dissolved oxygen has shown no significant change, and pH has decreased in Boca Ciega Bay.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '9', 'Cape Haze Aquatic Preserve', 'Since 1989, dissolved oxygen (DO) concentrations, from discrete monitoring, have decreased. DO concentrations are influenced by multiple indicators that affect water''s capacity to hold oxygen. For instance, increased nitrogen levels can decrease DO concentrations.', '', 'WC-WQ-1')
	, ('7', 'Water Column', '7', 'Water Quality', '9', 'Cape Haze Aquatic Preserve', 'Long-term discrete data shows water temperature has shown no significant change, salinity has shown no significant change, dissolved oxygen has decreased, and pH has decreased in Cape Haze.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '10', 'Cape Romano-Ten Thousand Islands Aquatic Preserve', 'Long-term discrete data shows water temperature has shown no significant change, salinity has shown no significant change, dissolved oxygen has shown no significant change, and pH has decreased in Cape Romano-Ten Thousand Islands.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '10', 'Cape Romano-Ten Thousand Islands Aquatic Preserve', 'Dataloggers are deployed at 10 sites within Cape Romano-Ten Thousand Islands and collect near-continuous data on multiple parameters. Station 255534081324000 data has shown no significant change in salinity levels between 2007 and 2024. Station 255138081321701 data has shown no significant change in salinity levels between 2017 and 2024. Station RKBFBWQ data has shown no significant change in salinity levels between 2002 and 2024. Station RKBFUWQ data has shown no significant change in salinity levels between 2002 and 2024. Station 255654081350200 data has shown no significant change in salinity levels between 2007 and 2024. Station 255732081363700 data has shown no significant change in salinity levels between 2011 and 2015. Station RKBMBWQ data has shown no significant change in salinity levels between 2000 and 2024. Station RKBPBWQ data has shown no significant change in salinity levels between 2016 and 2024. Station 255432081303900 data has shown a decrease in salinity levels between 2006 and 2024. Station 255123081321300 data has shown a decrease in salinity levels between 2007 and 2017.', '', 'WC-WQ-3')
	, ('7', 'Water Column', '7', 'Water Quality', '11', 'Cockroach Bay Aquatic Preserve', 'Since 1989, dissolved oxygen (DO) concentrations, from discrete monitoring, have decreased.', '', 'WC-WQ-1')
	, ('7', 'Water Column', '7', 'Water Quality', '11', 'Cockroach Bay Aquatic Preserve', 'Long-term discrete data shows water temperature has shown no significant change, salinity has decreased, dissolved oxygen has decreased, and pH has decreased in Cockroach Bay.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '12', 'Southeast Florida Coral Reef Ecosystem Conservation Area', 'Long-term discrete data shows water temperature has increased, salinity has increased, and dissolved oxygen has shown no significant change in Coral ECA.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '13', 'Coupon Bight Aquatic Preserve', 'Long-term discrete data shows water temperature has shown no significant change, salinity has increased, and dissolved oxygen has shown no significant change in Coupon Bight.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '14', 'Estero Bay Aquatic Preserve', 'Long-term discrete data shows water temperature has shown no significant change, salinity has decreased, dissolved oxygen has shown no significant change, and pH has decreased in Estero Bay.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '14', 'Estero Bay Aquatic Preserve', 'Dataloggers are deployed at 3 sites within Estero Bay and collect near-continuous data on multiple parameters. Station EB02 data has shown no significant change in salinity levels between 2004 and 2023. Station EB01 data has shown a decrease in salinity levels between 2004 and 2022. Station EB03 data has shown a decrease in salinity levels between 2004 and 2022.', '', 'WC-WQ-3')
	, ('7', 'Water Column', '7', 'Water Quality', '15', 'Florida Keys National Marine Sanctuary', 'Since 1970, dissolved oxygen (DO) concentrations, from discrete monitoring, have decreased.', '', 'WC-WQ-1')
	, ('7', 'Water Column', '7', 'Water Quality', '15', 'Florida Keys National Marine Sanctuary', 'Long-term discrete data shows water temperature has increased, salinity has shown no significant change, dissolved oxygen has decreased, and pH has decreased in Florida Keys NMS.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '15', 'Florida Keys National Marine Sanctuary', 'Dataloggers are deployed at 1 site within Florida Keys NMS and collect near-continuous data on multiple parameters. Station 1B data has shown no significant change in salinity levels between 2003 and 2008.', '', 'WC-WQ-3')
	, ('7', 'Water Column', '7', 'Water Quality', '16', 'Fort Clinch State Park Aquatic Preserve', 'Since 1994, dissolved oxygen (DO) concentrations, from discrete monitoring, have decreased. DO concentrations are influenced by multiple indicators that affect water''s capacity to hold oxygen. For instance, increases in water temperature can decrease DO concentrations.', '', 'WC-WQ-1')
	, ('7', 'Water Column', '7', 'Water Quality', '16', 'Fort Clinch State Park Aquatic Preserve', 'Long-term discrete data shows water temperature has increased, salinity has shown no significant change, dissolved oxygen has decreased, and pH has shown no significant change in Fort Clinch.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '17', 'Fort Pickens State Park Aquatic Preserve', 'Long-term discrete data shows water temperature has shown no significant change, salinity has shown no significant change, dissolved oxygen has shown no significant change, and pH has increased in Fort Pickens.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '17', 'Fort Pickens State Park Aquatic Preserve', 'Dataloggers are deployed at 1 site within Fort Pickens and collect near-continuous data on multiple parameters. Station P09 data has shown no significant change in salinity levels between 2002 and 2016.', '', 'WC-WQ-3')
	, ('7', 'Water Column', '7', 'Water Quality', '18', 'Gasparilla Sound-Charlotte Harbor Aquatic Preserve', 'Since 1971, dissolved oxygen (DO) concentrations, from discrete monitoring, have decreased. DO concentrations are influenced by multiple indicators that affect water''s capacity to hold oxygen. For instance, increased nitrogen levels can decrease DO concentrations.', '', 'WC-WQ-1')
	, ('7', 'Water Column', '7', 'Water Quality', '18', 'Gasparilla Sound-Charlotte Harbor Aquatic Preserve', 'Long-term discrete data shows water temperature has increased, salinity has decreased, dissolved oxygen has decreased, and pH has increased in Gasparilla Sound-Charlotte Harbor.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '19', 'Guana River Marsh Aquatic Preserve', 'Since 1995, dissolved oxygen (DO) concentrations, from discrete monitoring, have decreased. DO concentrations are influenced by multiple indicators that affect water''s capacity to hold oxygen. For instance, increased nitrogen levels can decrease DO concentrations.', '', 'WC-WQ-1')
	, ('7', 'Water Column', '7', 'Water Quality', '19', 'Guana River Marsh Aquatic Preserve', 'Long-term discrete data shows water temperature has increased, salinity has decreased, dissolved oxygen has decreased, and pH has decreased in Guana River Marsh.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '19', 'Guana River Marsh Aquatic Preserve', 'Dataloggers are deployed at 1 site within Guana River Marsh and collect near-continuous data on multiple parameters. Station GTMPIWQ data has shown a decrease in salinity levels between 2001 and 2022.', '', 'WC-WQ-3')
	, ('7', 'Water Column', '7', 'Water Quality', '20', 'Guana Tolomato Matanzas National Estuarine Research Reserve', 'Since 1995, dissolved oxygen (DO) concentrations, from discrete monitoring, have decreased. DO concentrations are influenced by multiple indicators that affect water''s capacity to hold oxygen. For instance, increased nitrogen levels can decrease DO concentrations.', '', 'WC-WQ-1')
	, ('7', 'Water Column', '7', 'Water Quality', '20', 'Guana Tolomato Matanzas National Estuarine Research Reserve', 'Long-term discrete data shows water temperature has increased, salinity has decreased, dissolved oxygen has decreased, and pH has decreased in Guana Tolomato Matanzas NERR.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '20', 'Guana Tolomato Matanzas National Estuarine Research Reserve', 'Dataloggers are deployed at 4 sites within Guana Tolomato Matanzas NERR and collect near-continuous data on multiple parameters. Station GTMPCWQ data has shown no significant change in salinity levels between 2002 and 2022. Station GTMPIWQ data has shown a decrease in salinity levels between 2001 and 2022. Station GTMSSWQ data has shown a decrease in salinity levels between 2002 and 2022. Station GTMFMWQ data has shown a decrease in salinity levels between 2001 and 2022.', '', 'WC-WQ-3')
	, ('7', 'Water Column', '7', 'Water Quality', '21', 'Indian River-Malabar to Vero Beach Aquatic Preserve', 'Since 1991, dissolved oxygen (DO) concentrations, from discrete monitoring, have decreased.', '', 'WC-WQ-1')
	, ('7', 'Water Column', '7', 'Water Quality', '21', 'Indian River-Malabar to Vero Beach Aquatic Preserve', 'Long-term discrete data shows water temperature has increased, salinity has decreased, dissolved oxygen has decreased, and pH has decreased in Indian River-Malabar to Vero Beach.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '21', 'Indian River-Malabar to Vero Beach Aquatic Preserve', 'Dataloggers are deployed at 1 site within Indian River-Malabar to Vero Beach and collect near-continuous data on multiple parameters. Station IRDM data has shown no significant change in salinity levels between 2003 and 2007.', '', 'WC-WQ-3')
	, ('7', 'Water Column', '7', 'Water Quality', '22', 'Indian River-Vero Beach to Ft. Pierce Aquatic Preserve', 'Since 1992, dissolved oxygen (DO) concentrations, from discrete monitoring, have decreased.', '', 'WC-WQ-1')
	, ('7', 'Water Column', '7', 'Water Quality', '22', 'Indian River-Vero Beach to Ft. Pierce Aquatic Preserve', 'Long-term discrete data shows water temperature has increased, salinity has shown no significant change, dissolved oxygen has decreased, and pH has decreased in Indian River-Vero Beach to Ft. Pierce.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '23', 'Jensen Beach to Jupiter Inlet Aquatic Preserve', 'Since 1972, dissolved oxygen (DO) concentrations, from discrete monitoring, have increased.', '', 'WC-WQ-1')
	, ('7', 'Water Column', '7', 'Water Quality', '23', 'Jensen Beach to Jupiter Inlet Aquatic Preserve', 'Long-term discrete data shows water temperature has increased, salinity has increased, dissolved oxygen has increased, and pH has decreased in Jensen Beach to Jupiter Inlet.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '25', 'Lemon Bay Aquatic Preserve', 'Since 1971, dissolved oxygen (DO) concentrations, from discrete monitoring, have decreased. DO concentrations are influenced by multiple indicators that affect water''s capacity to hold oxygen. For instance, increases in water temperature can decrease DO concentrations.', '', 'WC-WQ-1')
	, ('7', 'Water Column', '7', 'Water Quality', '25', 'Lemon Bay Aquatic Preserve', 'Long-term discrete data shows water temperature has increased, salinity has decreased, dissolved oxygen has decreased, and pH has decreased in Lemon Bay.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '26', 'Lignumvitae Key Aquatic Preserve', 'Long-term discrete data shows water temperature has shown no significant change, salinity has shown no significant change, dissolved oxygen has shown no significant change, and pH has decreased in Lignumvitae Key.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '27', 'Loxahatchee River-Lake Worth Creek Aquatic Preserve', 'Since 1991, dissolved oxygen (DO) concentrations, from discrete monitoring, have decreased.', '', 'WC-WQ-1')
	, ('7', 'Water Column', '7', 'Water Quality', '27', 'Loxahatchee River-Lake Worth Creek Aquatic Preserve', 'Long-term discrete data shows water temperature has increased, salinity has shown no significant change, dissolved oxygen has decreased, and pH has shown no significant change in Loxahatchee River-Lake Worth Creek.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '27', 'Loxahatchee River-Lake Worth Creek Aquatic Preserve', 'Dataloggers are deployed at 3 sites within Loxahatchee River-Lake Worth Creek and collect near-continuous data on multiple parameters. All station data has shown no significant change in salinity levels between 2002 and 2024.', '', 'WC-WQ-3')
	, ('7', 'Water Column', '7', 'Water Quality', '28', 'Matlacha Pass Aquatic Preserve', 'Since 1989, dissolved oxygen (DO) concentrations, from discrete monitoring, have decreased. DO concentrations are influenced by multiple indicators that affect water''s capacity to hold oxygen. For instance, increased nitrogen levels can decrease DO concentrations.', '', 'WC-WQ-1')
	, ('7', 'Water Column', '7', 'Water Quality', '28', 'Matlacha Pass Aquatic Preserve', 'Long-term discrete data shows water temperature has shown no significant change, salinity has shown no significant change, dissolved oxygen has decreased, and pH has shown no significant change in Matlacha Pass.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '28', 'Matlacha Pass Aquatic Preserve', 'Dataloggers are deployed at 3 sites within Matlacha Pass and collect near-continuous data on multiple parameters. All station data has shown a decrease in salinity levels between 2005 and 2023.', '', 'WC-WQ-3')
	, ('7', 'Water Column', '7', 'Water Quality', '29', 'Mosquito Lagoon Aquatic Preserve', 'Long-term discrete data shows water temperature has increased, salinity has increased, dissolved oxygen has shown no significant change, and pH has shown no significant change in Mosquito Lagoon.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '30', 'Nassau River-St. Johns River Marshes Aquatic Preserve', 'Since 1982, dissolved oxygen (DO) concentrations, from discrete monitoring, have decreased. DO concentrations are influenced by multiple indicators that affect water''s capacity to hold oxygen. For instance, increases in water temperature can decrease DO concentrations.', '', 'WC-WQ-1')
	, ('7', 'Water Column', '7', 'Water Quality', '30', 'Nassau River-St. Johns River Marshes Aquatic Preserve', 'Long-term discrete data shows water temperature has increased, salinity has shown no significant change, dissolved oxygen has decreased, and pH has increased in Nassau River-St. Johns River Marshes.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '30', 'Nassau River-St. Johns River Marshes Aquatic Preserve', 'Dataloggers are deployed at 4 sites within Nassau River-St. Johns River Marshes and collect near-continuous data on multiple parameters. Station NEKD data has shown an increase in salinity levels between 2004 and 2011. Station NELC data has shown no significant change in salinity levels between 2005 and 2011. Station NCB19020038 data has shown no significant change in salinity levels between 2015 and 2019. Station NCBNRCM data has shown no significant change in salinity levels between 2015 and 2019.', '', 'WC-WQ-3')
	, ('7', 'Water Column', '7', 'Water Quality', '31', 'North Fork St. Lucie Aquatic Preserve', 'Since 1989, dissolved oxygen (DO) concentrations, from discrete monitoring, have decreased. DO concentrations are influenced by multiple indicators that affect water''s capacity to hold oxygen. For instance, increases in water temperature can decrease DO concentrations.', '', 'WC-WQ-1')
	, ('7', 'Water Column', '7', 'Water Quality', '31', 'North Fork St. Lucie Aquatic Preserve', 'Long-term discrete data shows water temperature has increased, salinity has decreased, dissolved oxygen has decreased, and pH has decreased in North Fork St. Lucie.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '31', 'North Fork St. Lucie Aquatic Preserve', 'Dataloggers are deployed at 1 site within North Fork St. Lucie and collect near-continuous data on multiple parameters. Station 02276575 data has shown an increase in salinity levels between 2002 and 2011.', '', 'WC-WQ-3')
	, ('7', 'Water Column', '7', 'Water Quality', '33', 'Pellicer Creek Aquatic Preserve', 'Long-term discrete data shows water temperature has shown no significant change, salinity has shown no significant change, dissolved oxygen has shown no significant change, and pH has decreased in Pellicer Creek.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '33', 'Pellicer Creek Aquatic Preserve', 'Dataloggers are deployed at 1 site within Pellicer Creek and collect near-continuous data on multiple parameters. Station GTMPCWQ data has shown no significant change in salinity levels between 2002 and 2022.', '', 'WC-WQ-3')
	, ('7', 'Water Column', '7', 'Water Quality', '34', 'Pine Island Sound Aquatic Preserve', 'Since 1985, dissolved oxygen (DO) concentrations, from discrete monitoring, have decreased. DO concentrations are influenced by multiple indicators that affect water''s capacity to hold oxygen. For instance, increased nitrogen levels can decrease DO concentrations.', '', 'WC-WQ-1')
	, ('7', 'Water Column', '7', 'Water Quality', '34', 'Pine Island Sound Aquatic Preserve', 'Long-term discrete data shows water temperature has increased, salinity has decreased, dissolved oxygen has decreased, and pH has shown no significant change in Pine Island Sound.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '35', 'Pinellas County Aquatic Preserve', 'Long-term discrete data shows water temperature has increased, salinity has decreased, dissolved oxygen has shown no significant change, and pH has decreased in Pinellas County.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '37', 'Rocky Bayou State Park Aquatic Preserve', 'Since 1994, dissolved oxygen (DO) concentrations, from discrete monitoring, have increased.', '', 'WC-WQ-1')
	, ('7', 'Water Column', '7', 'Water Quality', '37', 'Rocky Bayou State Park Aquatic Preserve', 'Long-term discrete data shows water temperature has shown no significant change, salinity has shown no significant change, dissolved oxygen has increased, and pH has shown no significant change in Rocky Bayou.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '38', 'Rookery Bay Aquatic Preserve', 'Since 1989, dissolved oxygen (DO) concentrations, from discrete monitoring, have decreased. DO concentrations are influenced by multiple indicators that affect water''s capacity to hold oxygen. For instance, increased nitrogen levels can decrease DO concentrations.', '', 'WC-WQ-1')
	, ('7', 'Water Column', '7', 'Water Quality', '38', 'Rookery Bay Aquatic Preserve', 'Long-term discrete data shows water temperature has increased, salinity has shown no significant change, dissolved oxygen has decreased, and pH has decreased in Rookery Bay.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '38', 'Rookery Bay Aquatic Preserve', 'Dataloggers are deployed at 1 site within Rookery Bay and collect near-continuous data on multiple parameters. Station RKBLHWQ data has shown a decrease in salinity levels between 2001 and 2024.', '', 'WC-WQ-3')
	, ('7', 'Water Column', '7', 'Water Quality', '39', 'Rookery Bay National Estuarine Research Reserve', 'Since 1989, dissolved oxygen (DO) concentrations, from discrete monitoring, have decreased. DO concentrations are influenced by multiple indicators that affect water''s capacity to hold oxygen. For instance, increases in water temperature can decrease DO concentrations.', '', 'WC-WQ-1')
	, ('7', 'Water Column', '7', 'Water Quality', '39', 'Rookery Bay National Estuarine Research Reserve', 'Long-term discrete data shows water temperature has increased, salinity has decreased, dissolved oxygen has decreased, and pH has decreased in Rookery Bay NERR.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '39', 'Rookery Bay National Estuarine Research Reserve', 'Dataloggers are deployed at 12 sites within Rookery Bay NERR and collect near-continuous data on multiple parameters. Station RKBUHWQ data has shown an increase in salinity levels between 1996 and 2000. Station 255534081324000 data has shown no significant change in salinity levels between 2007 and 2024. Station 255138081321701 data has shown no significant change in salinity levels between 2017 and 2024. Station 255654081350200 data has shown no significant change in salinity levels between 2007 and 2024. Station 255732081363700 data has shown no significant change in salinity levels between 2011 and 2015. Station RKBFBWQ data has shown no significant change in salinity levels between 2002 and 2024. Station RKBMBWQ data has shown no significant change in salinity levels between 2000 and 2024. Station RKBFUWQ data has shown no significant change in salinity levels between 2002 and 2024. Station RKBPBWQ data has shown no significant change in salinity levels between 2016 and 2024. Station 255432081303900 data has shown a decrease in salinity levels between 2006 and 2024. Station 255123081321300 data has shown a decrease in salinity levels between 2007 and 2017. Station RKBLHWQ data has shown a decrease in salinity levels between 2001 and 2024.', '', 'WC-WQ-3')
	, ('7', 'Water Column', '7', 'Water Quality', '40', 'St. Andrews State Park Aquatic Preserve', 'Long-term discrete data shows water temperature has shown no significant change, salinity has decreased, dissolved oxygen has shown no significant change, and pH has shown no significant change in St. Andrews.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '41', 'St. Joseph Bay Aquatic Preserve', 'Since 1991, dissolved oxygen (DO) concentrations, from discrete monitoring, have decreased. DO concentrations are influenced by multiple indicators that affect water''s capacity to hold oxygen. For instance, increased nitrogen levels can decrease DO concentrations.', '', 'WC-WQ-1')
	, ('7', 'Water Column', '7', 'Water Quality', '41', 'St. Joseph Bay Aquatic Preserve', 'Long-term discrete data shows water temperature has decreased, salinity has decreased, dissolved oxygen has decreased, and pH has decreased in St. Joseph Bay.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '41', 'St. Joseph Bay Aquatic Preserve', 'Dataloggers are deployed at 1 site within St. Joseph Bay and collect near-continuous data on multiple parameters. Station CPRH data has shown no significant change in salinity levels between 2005 and 2011.', '', 'WC-WQ-3')
	, ('7', 'Water Column', '7', 'Water Quality', '43', 'St. Martins Marsh Aquatic Preserve', 'Since 1991, dissolved oxygen (DO) concentrations, from discrete monitoring, have decreased. DO concentrations are influenced by multiple indicators that affect water''s capacity to hold oxygen. For instance, increased nitrogen levels can decrease DO concentrations.', '', 'WC-WQ-1')
	, ('7', 'Water Column', '7', 'Water Quality', '43', 'St. Martins Marsh Aquatic Preserve', 'Long-term discrete data shows water temperature has increased, salinity has increased, dissolved oxygen has decreased, and pH has decreased in St. Martins Marsh.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '43', 'St. Martins Marsh Aquatic Preserve', 'Dataloggers are deployed at 1 site within St. Martins Marsh and collect near-continuous data on multiple parameters. Station BBSCH data has shown an increase in salinity levels between 2018 and 2023.', '', 'WC-WQ-3')
	, ('7', 'Water Column', '7', 'Water Quality', '44', 'Terra Ceia Aquatic Preserve', 'Long-term discrete data shows water temperature has shown no significant change, salinity has decreased, dissolved oxygen has shown no significant change, and pH has decreased in Terra Ceia.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '45', 'Tomoka Marsh Aquatic Preserve', 'Long-term discrete data shows water temperature has shown no significant change, salinity has shown no significant change, dissolved oxygen has shown no significant change, and pH has increased in Tomoka Marsh.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '47', 'Yellow River Marsh Aquatic Preserve', 'Long-term discrete data shows water temperature has shown no significant change, salinity has shown no significant change, dissolved oxygen has shown no significant change, and pH has shown no significant change in Yellow River Marsh.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '47', 'Yellow River Marsh Aquatic Preserve', 'Dataloggers are deployed at 2 sites within Yellow River Marsh and collect near-continuous data on multiple parameters. All station data has shown no significant change in salinity levels between 2002 and 2023.', '', 'WC-WQ-3')
	, ('7', 'Water Column', '7', 'Water Quality', '48', 'Nature Coast Aquatic Preserve', 'Long-term discrete data shows water temperature has shown no significant change, salinity has increased, dissolved oxygen has shown no significant change, and pH has shown no significant change in Nature Coast.', '', 'WC-WQ-2')
	, ('7', 'Water Column', '7', 'Water Quality', '48', 'Nature Coast Aquatic Preserve', 'Dataloggers are deployed at 1 site within Nature Coast and collect near-continuous data on multiple parameters. Station BBSHS data has shown a decrease in salinity levels between 2004 and 2016.', '', 'WC-WQ-3')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '1', 'Alligator Harbor Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Alligator Harbor, turbidity readings from grab samples indicate an increase in water clarity between 1998 and 2022.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '2', 'Apalachicola Bay Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Apalachicola Bay, turbidity readings from grab samples indicate no significant change in water clarity between 1992 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '3', 'Apalachicola National Estuarine Research Reserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Apalachicola NERR, turbidity readings from grab samples indicate a decrease in water clarity between 1992 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '4', 'Banana River Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Banana River, turbidity readings from grab samples indicate no significant change in water clarity between 1996 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '5', 'Big Bend Seagrasses Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Big Bend Seagrasses, turbidity readings from grab samples indicate an increase in water clarity between 1990 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '6', 'Biscayne Bay Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Biscayne Bay, turbidity readings from grab samples indicate an increase in water clarity between 1993 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '7', 'Biscayne Bay-Cape Florida to Monroe County Line Aquatic Preserve', 'Insufficient data was available to assess long-term trends for water clarity in Biscayne Bay-Cape Florida to Monroe County Line.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '8', 'Boca Ciega Bay Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Boca Ciega Bay, turbidity readings from grab samples indicate a decrease in water clarity between 1995 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '9', 'Cape Haze Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Cape Haze, turbidity readings from grab samples indicate no significant change in water clarity between 1995 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '10', 'Cape Romano-Ten Thousand Islands Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Cape Romano-Ten Thousand Islands, turbidity readings from grab samples indicate a decrease in water clarity between 1989 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '11', 'Cockroach Bay Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Cockroach Bay, turbidity readings from grab samples indicate no significant change in water clarity between 1999 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '12', 'Southeast Florida Coral Reef Ecosystem Conservation Area', 'Insufficient data was available to assess long-term trends for water clarity in Coral ECA.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '13', 'Coupon Bight Aquatic Preserve', 'Insufficient data was available to assess long-term trends for water clarity in Coupon Bight.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '14', 'Estero Bay Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Estero Bay, turbidity readings from grab samples indicate no significant change in water clarity between 1999 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '15', 'Florida Keys National Marine Sanctuary', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Florida Keys NMS, turbidity readings from grab samples indicate no significant change in water clarity between 1991 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '16', 'Fort Clinch State Park Aquatic Preserve', 'Insufficient data was available to assess long-term trends for water clarity in Fort Clinch.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '17', 'Fort Pickens State Park Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Fort Pickens, turbidity readings from grab samples indicate an increase in water clarity between 1996 and 2016.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '18', 'Gasparilla Sound-Charlotte Harbor Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Gasparilla Sound-Charlotte Harbor, turbidity readings from grab samples indicate an increase in water clarity between 1995 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '19', 'Guana River Marsh Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Guana River Marsh, turbidity readings from grab samples indicate a decrease in water clarity between 1995 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '20', 'Guana Tolomato Matanzas National Estuarine Research Reserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Guana Tolomato Matanzas NERR, turbidity readings from grab samples indicate a decrease in water clarity between 1995 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '21', 'Indian River-Malabar to Vero Beach Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Indian River-Malabar to Vero Beach, turbidity readings from grab samples indicate an increase in water clarity between 1995 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '22', 'Indian River-Vero Beach to Ft. Pierce Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Indian River-Vero Beach to Ft. Pierce, turbidity readings from grab samples indicate no significant change in water clarity between 1995 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '23', 'Jensen Beach to Jupiter Inlet Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Jensen Beach to Jupiter Inlet, turbidity readings from grab samples indicate no significant change in water clarity between 1991 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '25', 'Lemon Bay Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Lemon Bay, turbidity readings from grab samples indicate no significant change in water clarity between 1995 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '26', 'Lignumvitae Key Aquatic Preserve', 'Insufficient data was available to assess long-term trends for water clarity in Lignumvitae Key.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '27', 'Loxahatchee River-Lake Worth Creek Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Loxahatchee River-Lake Worth Creek, turbidity readings from grab samples indicate a decrease in water clarity between 1991 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '28', 'Matlacha Pass Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Matlacha Pass, turbidity readings from grab samples indicate no significant change in water clarity between 1995 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '29', 'Mosquito Lagoon Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Mosquito Lagoon, turbidity readings from grab samples indicate a decrease in water clarity between 1995 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '30', 'Nassau River-St. Johns River Marshes Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Nassau River-St. Johns River Marshes, turbidity readings from grab samples indicate a decrease in water clarity between 1997 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '31', 'North Fork St. Lucie Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within North Fork St. Lucie, turbidity readings from grab samples indicate no significant change in water clarity between 1999 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '33', 'Pellicer Creek Aquatic Preserve', 'Insufficient data was available to assess long-term trends for water clarity in Pellicer Creek.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '34', 'Pine Island Sound Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Pine Island Sound, turbidity readings from grab samples indicate no significant change in water clarity between 1995 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '35', 'Pinellas County Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Pinellas County, turbidity readings from grab samples indicate no significant change in water clarity between 1995 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '37', 'Rocky Bayou State Park Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Rocky Bayou, turbidity readings from grab samples indicate an increase in water clarity between 2008 and 2018.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '38', 'Rookery Bay Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Rookery Bay, turbidity readings from grab samples indicate a decrease in water clarity between 1989 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '39', 'Rookery Bay National Estuarine Research Reserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Rookery Bay NERR, turbidity readings from grab samples indicate a decrease in water clarity between 1989 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '40', 'St. Andrews State Park Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within St. Andrews, turbidity readings from grab samples indicate an increase in water clarity between 2003 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '41', 'St. Joseph Bay Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within St. Joseph Bay, turbidity readings from grab samples indicate no significant change in water clarity between 1995 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '43', 'St. Martins Marsh Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within St. Martins Marsh, turbidity readings from grab samples indicate no significant change in water clarity between 1995 and 2022.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '44', 'Terra Ceia Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Terra Ceia, turbidity readings from grab samples indicate no significant change in water clarity between 1995 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '45', 'Tomoka Marsh Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Tomoka Marsh, turbidity readings from grab samples indicate no significant change in water clarity between 1997 and 2023.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '47', 'Yellow River Marsh Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Yellow River Marsh, turbidity readings from grab samples indicate no significant change in water clarity between 1995 and 2022.', '', 'SAV-WC-1')
	, ('6', 'Submerged Aquatic Vegetation', '-99', 'Water Clarity', '48', 'Nature Coast Aquatic Preserve', 'Water clarity impacts the health of submerged resources and is monitored using several measures, one of which is turbidity. Within Nature Coast, turbidity readings from grab samples indicate an increase in water clarity between 1995 and 2022.', '', 'SAV-WC-1')
	) AS Table1 ([HabitatID], [HabitatName], [IndicatorID], [IndicatorName], [ManagedAreaID], [ManagedAreaName], [IndicatorSummary], [OptionPriority], [OptionID])
			--SELECT * FROM #Table1


	-- Remove WC - Nekton - Presence (it will be processed in [usp_analysis_trends_nekton_update]
	DELETE FROM #Table1 WHERE IndicatorID IN (9);


	;WITH cteTable AS (
		SELECT	*	
		FROM	#Table1 
	)
	-- SELECT * FROM cteTable
	,
	ctePriorityOverrides AS (
		-- WC-WQ-1: Since YYYY, ___ from discrete monitoring, have ...
		-- WC-WQ-2: Long-term discrete data shows water ____ has shown ...
		-- WC-WQ-3: Dataloggers are deployed at ...
		--
		-- MA-specified overrides from "MA_comments_SEACAR_AnalysisResults_2022-07-27.xlsx"
		-- WC-WQ-2 prioritized for: 5, 6, 9, 14, 18, 25, 28, 34, 43
		-- MAs 17, 47 and 37 chose multiple options (ignoring these)
		SELECT      *
		FROM        (VALUES
					  (5, 'WC-WQ-2', 1)
					, (6, 'WC-WQ-2', 1)
					, (9, 'WC-WQ-2', 1)
					, (14, 'WC-WQ-2', 1)
					, (18, 'WC-WQ-2', 1)
					, (25, 'WC-WQ-2', 1)
					, (28, 'WC-WQ-2', 1)
					, (34, 'WC-WQ-2', 1)
					, (43, 'WC-WQ-2', 1)
		) AS PriorityOverrides ([ManagedAreaID], OptionID, OptionPriority)
	)
	-- SELECT * FROM ctePriorityOverrides
	,
	ctePrioritized AS (
		SELECT		a.*, 
					AreaOptionID = CASE WHEN b.OptionID IS NOT NULL THEN b.OptionID ELSE a.OptionID END, 
					AreaOptionPriority = CASE WHEN b.OptionPriority IS NOT NULL THEN b.OptionPriority ELSE 100 END
		FROM		cteTable a
		LEFT JOIN	ctePriorityOverrides b on a.ManagedAreaID = b.ManagedAreaID AND a.OptionID = b.OptionID
	)
	--SELECT * FROM ctePrioritized
	,
	cteOrdered AS (
		SELECT	*, 
				ROW_NUMBER() OVER (PARTITION BY [ManagedAreaID], [HabitatID], [IndicatorID] ORDER BY AreaOptionPriority) AS ROWNUM
		FROM	ctePrioritized
	)
	--SELECT * FROM cteOrdered
	,
	cteResults AS (
		SELECT	*
		FROM	cteOrdered
		WHERE	ROWNUM = 1
	)
	
	--SELECT * FROM cteResults;

	--SELECT r.[ManagedAreaID], [ManagedAreaName], r.HabitatID, r.IndicatorID, mahi.HasData,
	--	Trend = CASE 
	--				WHEN UPPER(r.[IndicatorSummary]) LIKE '%DATA%NEEDED%' THEN NULL
	--				WHEN UPPER(r.[IndicatorSummary]) LIKE '%INSUFFICIENT%' THEN NULL
	--				ELSE -99
	--			END
	--	,
	--	IndicatorState = CONCAT(@ts, '<p>', r.[IndicatorSummary], '</p>'), r.*
	--FROM ManagedArea_Habitat_Indicator		mahi
	--INNER JOIN cteResults r ON r.[ManagedAreaID] = mahi.ManagedAreaID AND r.HabitatID = mahi.HabitatID AND r.IndicatorID = mahi.IndicatorID

	UPDATE		mahi
	SET			Trend = CASE 
					WHEN UPPER(r.[IndicatorSummary]) LIKE '%DATA%NEEDED%'  OR UPPER(r.[IndicatorSummary]) LIKE '%NO DATA%' THEN NULL
					WHEN UPPER(r.[IndicatorSummary]) LIKE '%INSUFFICIENT%' THEN NULL
					ELSE -99
				END,
				IndicatorState = CONCAT(@ts, '<p>', r.[IndicatorSummary], '</p>')
	FROM		ManagedArea_Habitat_Indicator		mahi
	INNER JOIN	cteResults							r ON r.[ManagedAreaID] = mahi.ManagedAreaID AND r.HabitatID = mahi.HabitatID AND r.IndicatorID = mahi.IndicatorID;



	-- TREND VALUE MEANINGS
	-- ManagedArea_Habitat_Indicator.Trend
	-- NULL	= Insufficient Data;
	--	-99 = Under Review
	--	-1	= Decreasing
	--	0	= No Trend
	--	1	= Increasing


	-- SELECT * FROM vw_Combined_Parameter_Indicator WHERE IndicatorID IN (6, 8, 9, 1, 7, -99) AND Active = 1;

END
